<div id="customer-search">
  <div class="flex flex-wrap flex-row-reverse bg-white">
    {{#if selectedCustomer}}
      <div class="flex flex-1 border border-l-0">
        <button class="btn flex text-left font-bold p-2"
          onclick={{action @editCustomer selectedCustomer}}
          data-test-customer-search-edit-btn>
          {{selectedCustomer.lastName}}, {{selectedCustomer.firstName}}

          <EmberTooltip @class="" @side="bottom">
            Edit/view customer
          </EmberTooltip>
        </button>

        <button class="btn ml-auto hover:bg-black hover:text-white py-1 px-2 m-1"
          onclick={{action "clearCustomer"}}
          data-test-customer-search-clear>
          {{fa-icon "times"}}

          <EmberTooltip @class="" @side="bottom">
            Clear customer
          </EmberTooltip>
        </button>
      </div>
    {{else}}
      <input
        id="customer-search-input"
        type="text"
        class="flex-1 border border-l-0 p-2 focus:border-black outline-none"
        value={{searchTerm}}
        onfocus={{action (mut showDropdown) true}}
        oninput={{action "onInput" value="target.value"}}
        placeholder={{@placeholder}}
        data-test-customer-search-input>
    {{/if}}

    <span class="input-icon flex border border-r-0 p-1">
      <img alt="customer-search-icon" src="/assets/customer-search-icon.png">
    </span>
  </div>

  {{#if showDropdown}}
    {{#if searchTerm}}
      <div class="bg-white">
        {{#if searchForCustomers.isRunning }}
          <div class="p-2 flex">
            <div class="loader"></div> <i class="text-grey-darker font-light ml-3 my-auto text-sm">searching ...</i>
          </div>
        {{else}}
          {{#each customers as |customer index|}}
            <button
              class="dropdown-list-item {{if (eq focusElement index) "selected"}}"
              onclick={{action "setSelectedCustomer" customer}}
              onkeypress={{action "setSelectedCustomer" customer}}
              data-test-customer={{index}}>

              <div class="pb-1 font-bold">
                {{highlight-matching searchTerm (concat customer.lastName ", " customer.firstName)}}
              </div>

              <div class="text-grey text-sm font-light">
                <span>{{highlight-matching searchTerm customer.email}}</span>
                <span class="pull-right">{{highlight-matching searchTerm customer.randomId}}</span>
              </div>
            </button>
          {{else if (not-eq customers null)}}
            <div class="p-2" data-test-customer-search-no-customers-found>
              No customers found...
            </div>
          {{/each}}
        {{/if}}
      </div>
    {{/if}}

    <button class="text-white bg-pink-dark w-full py-2" onclick={{action @createCustomer}} data-test-customer-search-create>
      Create a new customer
    </button>
  {{/if}}
</div>
