<div class="mx-auto md:max-w-md pt-16">
  <h1 class="mb-5 font-light text-center text-pink-dark">Customer Search Demo</h1>
  <CustomerSearch
    @placeholder="Assign customer"
    @selectedCustomer={{newCustomer}}
    @createCustomer={{action "createCustomer"}}
    @editCustomer={{action "editCustomer"}}
    data-test-customer-search/>
</div>

{{#if showCustomerDetailsModal}}
  <UiModal @onClose={{action "closeModal" "CustomerDetailsModal"}}>

    <div class="px-6 py-3 border-b border-grey">
      <h4>Customer details</h4>
    </div>

    <form {{action (perform saveCustomer) customer on="submit"}} data-test-customer-form>
      <div class="p-4">
        <div class="sm:flex">
          <div class="sm:flex-1 p-2">
            <UiInput
              @name="firstname"
              @label="First Name"
              @required={{true}}
              @model={{customer}}
              @valuePath="firstName"
              @inputClasses="border border-grey-light p-2 rounded-sm w-full mt-2"
              @placeholder="First Name" />
          </div>

          <div class="sm:flex-1 p-2">
            <UiInput
              @name="lastname"
              @label="Last Name"
              @required={{true}}
              @model={{customer}}
              @valuePath="lastName"
              @inputClasses="border border-grey-light p-2 rounded-sm w-full mt-2"
              @placeholder="Last Name" />
          </div>
        </div>

        <div class="sm:flex">
          <div class="sm:flex-1 p-2">
            <UiInput
              @name="email"
              @label="Email"
              @required={{true}}
              @model={{customer}}
              @valuePath="email"
              @inputClasses="border border-grey-light p-2 rounded-sm w-full mt-2"
              @placeholder="Email" />
          </div>

          <div class="sm:flex-1 p-2">
            <UiInput
              @name="dob"
              @label="Date of birth"
              @model={{customer}}
              @valuePath="dob"
              @inputClasses="border border-grey-light p-2 rounded-sm w-full mt-2"
              @placeholder="2009-08-01" />
          </div>
        </div>

        <div class="sm:flex">
          <div class="sm:flex-1 p-2">
            <UiInput
              @name="phone"
              @label="Phone"
              @required={{true}}
              @model={{customer}}
              @valuePath="phone"
              @inputClasses="border border-grey-light p-2 rounded-sm w-full mt-2"
              @placeholder="(+00) 1234-567890" />
          </div>

          <div class="sm:flex-1 p-2 mt-2">
            <UiInput
              @name="mobile"
              @label="Mobile"
              @model={{customer}}
              @valuePath="mobile"
              @inputClasses="border border-grey-light p-2 rounded-sm w-full mt-2"
              @placeholder="(+00) 1234-567890" />
          </div>
        </div>
      </div>

      <button type="submit" class="btn text-white bg-pink-dark text-xl p-2 w-full" disabled={{not (v-get customer "isValid")}} data-test-customer-details-submit>
        Save
      </button>
    </form>

  </UiModal>
{{/if}}

{{outlet}}
